.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    position: relative;
    border: solid .2rem rgba(72,69,60, 1);
    height: 75%;
    width: 75%;
    padding: 1rem;
    background: repeating-linear-gradient(45deg,var(--bg2-clr) 0px, var(--bg2-clr) 2px, transparent 2px, transparent 6px),
    var(--bg-clr) 
    repeating-linear-gradient(135deg, var(--bg2-clr) 0px, var(--bg2-clr) 2px, transparent 2px, transparent 6px);
  }
.close_button{
    background: linear-gradient(to left,rgba(177,172,152,0.5) 50%,rgba(72,69,60, 0.8) 50%) right;
    background-size: 200%;
    color:#413E37;
    transition: 0.22s;
    width: 8rem;
    height: 2rem;
    border: none;
    box-shadow: rgba(72,69,60, 1) -3px 3px;
    font-weight: bolder;
    position:absolute;
    bottom: 1rem;
    left:1rem;
    cursor: pointer;
}
.close_button:hover{
    color:#dfdbc5;
    background-position: left;
    margin-bottom: 0px;
}

